
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



legend {
    display: block;
    margin-bottom: 50px;
    font-family:"Prompt", sans-serif;
    font-weight:800;
    font-size: xx-large;
    color:#38753b;
  }

  label {
    color:#3e6340;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    display: block;
  }




input[type=text], select {
  
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]
{
   font-family:"Prompt", sans-serif;
   font-weight:200;
   font-size: small;
}


input[type=password], select {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password]
{
   font-family:"Prompt", sans-serif;
   font-weight:200;
   font-size: small;
}

  input[type=email], select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email]
{
   font-family:"Prompt", sans-serif;
   font-weight:200;
   font-size: small;
}

  input[type=address], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=address]
  {
     font-family:"Prompt", sans-serif;
     font-weight:200;
     font-size: small;
  }

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
  }

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #3e6340;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
  }

input[type=reset]:hover {
  background-color: #29402a;}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
  width: 500px;
  border: 25px solid green;
  margin: 20px;
}

